<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>280615189741-3rssucn15cojrlg3ctb8cl6ofo1r5c4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280615189741-3rssucn15cojrlg3ctb8cl6ofo1r5c4i</string>
	<key>API_KEY</key>
	<string>AIzaSyDFRKHoR-7k7KJJaeenn16j9kJ1GUV3fZU</string>
	<key>GCM_SENDER_ID</key>
	<string>280615189741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spericorn.spotimist</string>
	<key>PROJECT_ID</key>
	<string>spotimist-201005</string>
	<key>STORAGE_BUCKET</key>
	<string>spotimist-201005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280615189741:ios:b136741752f8dd01</string>
	<key>DATABASE_URL</key>
	<string>https://spotimist-201005.firebaseio.com</string>
</dict>
</plist>